h1{

    color:#E63946;
    font-family: Arial, Helvetica, sans-serif;

}

body {

   background-color: #A8DADC;

}

button {

    background-color: #1D3557;
    
}

a {
 color:#F1FAEE;
 text-decoration: none;

}

p {

    color: #457B9D;
}

h2{
color: #E63946;

}

#Welcome{

text-align: center;

}



